[package]
name = "rspression"
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 0
debug = true
debug-assertions = true

[dependencies]
thiserror = "1.0"
anyhow = "1.0"
bitvec = "1"

[dev-dependencies]
